# Task 1 #

### a. Movis longer than 3h (180 minutes) ###

In [31]:
film_length = duckdb.sql("""
    SELECT
        title,
        length
    FROM
        film
    WHERE
        length > 180
""").df()

film_length

                 title  length
0     ANALYZE HOOSIERS     181
1      BAKED CLEOPATRA     182
2        CATCH AMISTAD     183
3        CHICAGO NORTH     185
4    CONSPIRACY SPIRIT     184
5       CONTROL ANTHEM     185
6     CRYSTAL BREAKING     184
7       DARN FORRESTER     185
8       FRONTIER CABIN     183
9          GANGS PRIDE     185
10    HAUNTING PIANIST     181
11           HOME PITY     185
12     HOTEL HAPPINESS     181
13      INTRIGUE WORST     181
14       JACKET FRISCO     181
15      KING EVOLUTION     184
16      LAWLESS VISION     181
17       LOVE SUICIDES     181
18       MONSOON CAUSE     182
19     MOONWALKER FOOL     184
20       MUSCLE BRIGHT     185
21        POND SEATTLE     185
22       RECORDS ZORRO     182
23          REDS POCUS     182
24  RUNAWAY TENENBAUMS     181
25         SATURN NAME     182
26       SCALAWAG DUCK     183
27      SEARCHERS WAIT     182
28     SMOOCHY CONTROL     184
29  SOLDIERS EVOLUTION     185
30      SONS INTERVIEW     184
31      SORORITY QUEEN     184
32      STAR OPERATION     181
33   SWEET BROTHERHOOD     185
34      THEORY MERMAID     184
35           WIFE TURN     183
36         WILD APOLLO     181
37        WORST BANGER     185
38      YOUNG LANGUAGE     183