In [1]:
import duckdb

duckdb_path = "data/sakila.duckdb"

with duckdb.connect(duckdb_path) as conn:

    description = conn.sql("DESC;").df()

    film = conn.sql("FROM staging.film").df()

film.head(3)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,_dlt_load_id,_dlt_id
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,<NA>,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2021-03-06 15:52:00,1764683320.097242,+FLegaNCKlcUuw
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,<NA>,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-03-06 15:52:00,1764683320.097242,RMooDSvnvbC8Bw
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,<NA>,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2021-03-06 15:52:00,1764683320.097242,FALz+oLNdpuC4Q

# Storing data into dictionary of dfs

In [2]:
# create an empty dictionary
dfs = {}

# opens a connection to the databse
with duckdb.connect("data/sakila.duckdb") as conn: 
    # loop through each table name from the 'description' data frame
    for name in description["name"]:
    # skip all tables whose name starts with an underscore (ex. _dlt_loads, _dlt_version)
       # name[0] = the first character of the table name
        # != '_' = "is NOT an underscore"
        if name[0] != '_':

            # Load Each Table as a Dataframe
        
            dfs[name] = conn.sql(f"FROM staging.{name};").df()

            # f"FROM staging.{name}; --> Creates a SQL query using the table name.
            # ex. name = "actor", this becomes FROM staging.actor;

            # conn.sql(...) = Run the SQL query
            # .df() = Convert the results into a pandas dataframe
            
dfs["actor"].head()

,actor_id,first_name,last_name,last_update,_dlt_load_id,_dlt_id
0,1.0,PENELOPE,GUINESS,2021-03-06 15:51:59,1764683320.097242,QvYxxcbtprlOQg
1,2.0,NICK,WAHLBERG,2021-03-06 15:51:59,1764683320.097242,o8I7nQUX0mbL2A
2,3.0,ED,CHASE,2021-03-06 15:51:59,1764683320.097242,/zL1xPGQD9hzvA
3,4.0,JENNIFER,DAVIS,2021-03-06 15:51:59,1764683320.097242,i58/ID5l0ewc6w
4,5.0,JOHNNY,LOLLOBRIGIDA,2021-03-06 15:51:59,1764683320.097242,DmI7lWgNp9TImg

In [3]:
dfs = {}

with duckdb.connect(duckdb_path) as conn: 
    for name in description["name"]:
        if name[0] != '_':
        
            dfs[name] = conn.sql(f"FROM staging.{name};").df()

            
dfs["film"].head(2)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,_dlt_load_id,_dlt_id
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,<NA>,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2021-03-06 15:52:00,1764683320.097242,+FLegaNCKlcUuw
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,<NA>,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-03-06 15:52:00,1764683320.097242,RMooDSvnvbC8Bw